<h2>Users</h2>
<button [disabled]="!enableAdd" class="btn btn-block mb-4">
    Add New User
</button>
<ul class="list-unstyled" *ngIf="loaded && users?.length > 0">
    <li class="card card-body mb-3" *ngFor="let user of users" [class.bg-light]="user.isActive"
        [style.border-color]="user.isActive ? 'green' : ''" [style.border-width]="user.isActive ? 'thick' : ''">
        <h3>{{ user.firstName }} {{ user.lastName }}</h3>
        <ul class="list-group" *ngIf="showExtended && user.age && user.address">
            <li class="list-group-item">Age: {{ user.age }}</li>
            <li class="list-group-item">Address: {{ user.address.flat }}, {{ user.address.building }},
                {{user.address.area}}, {{user.address.city}}, {{user.address.state}}</li>
            <li class="list-group-item">Registered: {{ user.registered | date: "longDate" }}</li>
        </ul>
    </li>
</ul>

<h4 *ngIf="!loaded">Loading Users.... :)</h4>

<h4 *ngIf="users?.length == 0">Users Not Found</h4>