<button (click)="showUserForm = !showUserForm" class="btn btn-dark mb-3">
    Add New User
</button>
<div class="card card-body" *ngIf="showUserForm">
    <h2>Add New User</h2>
    <form (submit) = "onSubmit($event)">
        <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" name="firstName">
        </div>

        <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" name="lastName">
        </div>

        <div class="form-group">
            <label>Age</label>
            <input type="number" class="form-control" name="age">
        </div>

        <div class="form-group">
            <label>Flat Number</label>
            <input type="number" class="form-control" name="flat">
        </div>

        <div class="form-group">
            <label>Building</label>
            <input type="text" class="form-control" name="building">
        </div>

        <div class="form-group">
            <label>Area</label>
            <input type="text" class="form-control" name="area">
        </div>

        <div class="form-group">
            <label>City</label>
            <input type="text" class="form-control" name="city">
        </div>

        <div class="form-group">
            <label>State</label>
            <input type="text" class="form-control" name="state">
        </div>

        <div class="form-group">
            <label>Date Registered</label>
            <input type="date" class="form-control" name="registered">
        </div>
        <button (click)="addUser({firstName: 'Ishika', lastName: 'Paliwal', isActive: true})" [disabled]="!enableAdd"
            class="btn btn-block mb-4">
            Add New User
        </button>
    </form>
</div>


<h2>Users</h2>
<ul class="list-unstyled" *ngIf="loaded && users?.length > 0">
    <li class="card card-body mb-3" *ngFor="let user of users" [class.bg-light]="user.isActive"
        [style.border-color]="user.isActive ? 'green' : ''" [style.border-width]="user.isActive ? 'thick' : ''">
        <h3>{{ user.firstName }} {{ user.lastName }}
            <small *ngIf="user.age && user.address">
                <button (click)="user.hide = !user.hide" class="btn btn-dark btn-sm">
                    <i [ngClass]="user.hide ? 'fa fa-plus' : 'fa fa-minus'"></i>
                </button>
            </small>
        </h3>
        <ul class="list-group" *ngIf="!user.hide && user.age && user.address">
            <li class="list-group-item">Age: {{ user.age }}</li>
            <li class="list-group-item">Address: {{ user.address.flat }}, {{ user.address.building }},
                {{user.address.area}}, {{user.address.city}}, {{user.address.state}}</li>
            <li class="list-group-item">Registered: {{ user.registered | date: "longDate" }}</li>
        </ul>
    </li>
</ul>

<h4 *ngIf="!loaded">Loading Users.... :)</h4>

<h4 *ngIf="users?.length == 0">Users Not Found</h4>